
<div class="ui-panel ui-corner-all" style="width: 900px; margin: 0px auto">

<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>LOCALES</span>
</div>

<div class="ui-panel-body">

<h1>Editar Local</h1>

<%= render 'form' %>


		<div class="actions">
			<table align = "center">
				<tr>
					<td>
						<%= button_to "Visualizar", @local, :class => "ui-button ui-widget ui-state-default", :method => :get %>		
					</td>
					<td>
						<%= button_to "Atrás", locals_path, :class => "ui-button ui-widget ui-state-default", :method => :get %>
					</td>
				</tr>
			</table>	
		</div>


</div>