<%= simple_form_for(@style) do |f| %>
 <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  
  <%= submit_tag "Grabar", :class => "ui-button ui-widget ui-state-default" %>    

<% end %>
