	<div class="ui-panel ui-corner-all" style="width: 450px; margin: 0px auto">

		<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
		    <span>CONCIERTOS</span>
		</div>

		<div class="ui-panel-body">

		<h2>Lista de Conciertos</h2>

			<div class="ui-datatable-scrollable-header">
			    <li><%= link_to 'Concerts', concerts_path %></li>
		    </div>
		
		</div>
			
	</div>
