.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
border:1px solid;
margin:10px 0;
padding:10px;
}
.ui-messages-info, .ui-message-info {
background-color:#BDE5F8;
color:#00529B;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
height:24px;
margin-top:-4px;
width:24px;
}
.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
height:16px;
width:16px;
}
.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
font-weight:bold;
margin-left:10px;
}
.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail, .ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail {
margin-left:5px;
}
.ui-messages-warn, .ui-message-warn {
background-color:#FEEFB3;
color:#9F6000;
}
.ui-messages-error, .ui-message-error {
background-color:#FFBABA;
color:#D8000C;
}
.ui-messages-fatal, .ui-message-fatal {
background-color:#CC0000;
color:#000000;
}
.ui-messages ul {
list-style-type:none;
margin:0 0 0 25px;
padding:0;
}
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
border:1px solid;
margin:0 5px;
padding:2px 5px;
}
.ui-messages-info-icon {
background-position:0 -68px;
}
.ui-messages-warn-icon {
background-position:0 -102px;
}
.ui-messages-error-icon {
background-position:0 0;
}
.ui-messages-fatal-icon {
background-position:0 -34px;
}
.ui-message-info-icon {
background-position:0 -188px;
}
.ui-message-warn-icon {
background-position:0 -214px;
}
.ui-message-error-icon {
background-position:0 -136px;
}
.ui-message-fatal-icon {
background-position:0 -162px;
}
.ui-message-icon-only {
height:16px;
width:16px;
}

.ui-datatable table {
border-collapse:collapse;
width:100%;
}
.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
padding:4px 8px;
text-align:center;
}
.ui-datatable .ui-datatable-header {
border-bottom:0 none;
}
.ui-datatable .ui-datatable-footer {
border-top:0 none;
}
.ui-datatable th, .ui-datatable tfoot td {
padding:4px 8px;
text-align:center;
white-space:nowrap;
font-size:12px;
}
.ui-datatable-data, .ui-datatable-data-empty {
}

.ui-datatable-data tr:hover{background: #fdf5ce; color: #c77405; cursor: pointer; outline: 1px solid #fbcb09;}
.ui-datatable-data tr:hover td{border: 1px solid #fbcb09;}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
border:1px solid #9DB9DC;
padding:4px 8px;
}
.ui-datatable .ui-paginator {
margin:0;
padding:2px;
text-align:center;
}
.ui-datatable .ui-paginator-top {
border-bottom:0 none;
}
.ui-datatable .ui-paginator-bottom {
border-top:0 none;
}
.ui-datatable .ui-sortable-column {
cursor:pointer;
}
.ui-datatable .ui-sortable-column-icon {
float:right;
}
.ui-datatable .ui-column-filter {
display:block;
margin:auto;
width:100px;
}
.ui-datatable .ui-expanded-row {
border-bottom:0 none;
}
.ui-datatable .ui-expanded-row-content {
border-top:0 none;
}
.ui-datatable .ui-row-toggler {
cursor:pointer;
}
.ui-datatable .ui-cell-editor-input {
display:none;
}
.ui-datatable .ui-row-editor-column {
}
.ui-datatable .ui-row-editor {
}
.ui-datatable .ui-row-editor span {
cursor:pointer;
float:left;
}
.ui-datatable tr.ui-state-highlight {
cursor:pointer;
}
.ui-datatable .ui-selection-column {
width:20px;
}
.ui-datatable-odd{background: #F6F6F6;}
.ui-datatable-even {background: #FFFFFF;}

.ui-datatable-scrollable {
}
.ui-datatable-scrollable-header {
}
.ui-datatable-scrollable-body {
overflow:auto;
}
.ui-datatable-scrollable .ui-datatable-scrollable-body table, .ui-datatable-scrollable .ui-datatable-scrollable-header table, .ui-datatable-scrollable .ui-datatable-scrollable-footer table {
width:auto;
}
.ui-datatable a{
    color: #228EF1;
}
.ui-datatable a:hover{
    color: blue;
}


#ulMenu{ padding: 10px;}
#ulMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

	}
#ulMenu ul li {
background-image: url(../images/ico_bullet.png);
background-repeat: no-repeat;
background-position: 0;
padding-left: 30px;
}
#ulMenu td { padding: 10px; }


#main_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
#main_links:hover{
	color:#EA5932;
	font-weight: normal;
}

#txt_nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	text-align: left;
}

#txt_lista {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	text-align: left;
	line-height: 20px;
}
#txt_lista:hover{
	color:#EA5932;
	font-weight: normal;
}
#txt_lista_offline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #999;
	text-decoration: none;
	text-align: left;
	line-height: 20px;
}

#txt_footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

#titulo_interno {
color:#004370;
font-family:Arial,Helvetica,sans-serif;
font-size:28px;
font-weight:normal;
line-height:28px;
text-align:left;
text-decoration:none;
}

table.padded-table10 td { padding:10px; }

table.padded-table4 td { padding:4px; }
table.padded-table15 td { padding:15px; }


#menuUPC a.menu_lista {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    text-align: left;
    line-height: 20px;
}

#menuUPC a.menu_lista:hover {
    color:#EA5932;
    font-weight: normal;
}

#menuUPC a.menu_offline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #999;
    text-decoration: none;
    text-align: left;
    line-height: 20px;
    pointer-events: none;
    cursor: default;
}


body{
    margin: 0px;
    padding: 0;
    color: #616161;
    font-family: Arial, sans-serif;
    background-color:#F6F6F6;
    font-size: 11px;
    scrollbar-face-color:#DDDDDD;
    scrollbar-arrow-color:#444444;
}


form, ul, div{
    margin: 0px;
}

a {
    color: #fff;
    /*text-decoration: none;*/
    /*font-size: 0.9em;*/
}
h3{
    text-align: center;
    color: #004080;
}

a:hover {
    color: #228EF1;
}

input, select, textarea, .inputGrid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #ffffff;
    padding: 1px;
    border: 1px solid #666666;
    text-transform: uppercase;
   -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
select, textarea{
text-transform: uppercase;
}

input[disabled]{
    color: #333333;
    background-color: #F0F0F0;
}

input[readonly]{
    color: #333333;
    background-color: #F0F0F0;
}

input[type=checkbox] {
    padding: 3px;
    border: none;
    background-color: transparent;
}

input[type=radio] {
    padding: 3px;
    border: none;
    background-color: transparent;
}

fieldset{border: 1px solid #9DB9DC; padding: 0.3em 0.8em;}

.enlaceSimple a{
    text-decoration:none;
	color:#084D86;
}

.enlaceSimple a:hover{
	color: red;
	text-decoration:underline;
}
.td_sombra
{
	/*background: #F6F6F6;*/
    /*border: 1px solid #DDDDDD;*/
	text-align:right;
    color:#004370;
}
.td_right{
    /*background: #F6F6F6;*/
    /*border: 1px solid #DDDDDD;*/
    text-align:right;
    padding: 2px;
}

.th_left
{
	/*background: #F6F6F6;*/
    color:#004370;
}


.tlb{
    border-collapse:collapse;
    background: #FFFFFF;
}
.tlb td{
    padding:2px;
}
.tlbCollapse{
    border-collapse:collapse;
    /*background: #F6F6F6;*/
}

#bcMain{
    position:absolute;left:50%; margin:0 0 0 -550px; width: 1200px; padding: 0px; background-color: #fff;
}
#headPanel{
overflow: hidden;
}

#headPanel_top{
background-color:#FFFFFF;
background-image:url(../images/top_total.jpg);
background-position:left center;
background-repeat:no-repeat;
height:70px;overflow: hidden;padding:5px;
}

#leftPane{
 width: 1150px;
}
#leftPane .accordion{
    width: 400px; height: 300px; overflow: hidden;
}
#bottomPanel{
    background-color:#535455;
    background-image:url(../images/fondo_top_footer.jpg);
    background-position:center top;
    background-repeat:repeat-x;
    height:125px;
    vertical-align:top;
    padding:0px;
}
#applicationPanel{
    background:#F6F6F6; top: 300px; left: 339px; right: 5px; bottom: 42px;
}

#dlglogin{position:absolute;width:480px;top:50%;left:50%;margin:-110px 0px 0px -180px;}
#dlglogin .input{width:140px;font-size: 1.5em}

#dlgchange{position:absolute;width:480px;top:50%;left:50%;margin:-110px 0px 0px -210px;}
#dlgchange .input{width:140px;font-size: 1.5em}

.donaOI{width: 50%;float: left}
.donaOD{width: 50%;float: right;}

.actions{
    text-align:center; margin-top:10px; border-top: 1px solid #DDDDDD; padding: 6px;
}
.mrgTop{margin-top:6px;}

.panel
.mainDiv{
    background-color: #02277d; height: 22px; border-top: 1px solid #fff; color: #fff; padding: 2px; min-width: 1120px;
}
.mainDiv table{width: 100%}
.tdRigth1{text-align: right; padding-right: 10px;}
.logout{position: absolute; right: 15px; top: 5px; width: 130px;}
.txtbox{
border:1px solid #9DB9DC;
text-transform: uppercase;
background: #fff;
padding:1px;
}

.disa{
	background:#f6f8ff;
}

.box {
	border: 1px solid #DDDDDD;
    background-color:#F9F9F9;
	position:absolute; /* cuando es absolute no sirve margin: 0px auto*/
	font-weight:bold;
	padding:5px;
	left: 50%;
    top: 50%;
	font-size: 10px;
    height: 80px;
    width: 280px;
    margin-left: -140px;
    margin-top: -60px;
    z-index: 999999;
}
.box2{
background-color:#FFF;
border:1px solid #DDD;
font-size:11px;
font-weight:bold;
height:80px;
padding:5px;
width:280px;
color: #004080;
}

.box .line1, .box2 .line1{
    float:left;
    width: 200px;
    border-bottom:1px solid silver;
    padding:2px;
}
.oculto{
    background-color: #CCC;
    display: none;
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height:100%;
    filter:alpha(opacity=20);
    float:left;
    -moz-opacity:.50;
    opacity:.50;
}

.box .line2, .box2 .line2{
    float:left;
    width: 200px;
    font-size: 10px;
    text-align:right;
    padding-top: 20px;
}
.box .image, .box2 .image{
    padding: 10px 4px;
    width: 60px;
    height: 60px;
    float: left;
}
.footerdiv{
position:fixed; bottom: 0px; z-index: 1000; width: 100%; font-size: 0.9em; height: 16px; padding: 3px; background: #004080; color: #fff;
}
.footerdiv .div1{
float: left; width: 49%;
}
.footerdiv .div2{
float: right; width: 49%; text-align: right; padding-right: 10px;
}

.footerdiv span{font-weight: bold;}

.error{
    color: red;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.noimage{
    background: url(../images/noimage.jpg) no-repeat center center;
    text-align: center;
}

.ajaxStatus{
    width:48px;height:48px;position: absolute; top:50%;left:50%;margin:-40px 0px 0px -140px;
}

.small{
    font-size: 0.9em;
    color:#004370;
}

input:focus, textarea:focus, .inputGrid:focus, select:focus {
   font-weight: bold;
    border:1px solid #fbcb09;
    background-color: #fdf5ce;
    /*font-size: 11px;*/
}

.right{
    text-align: right;
}
.tdright{
    background-color: #F0F0FE;
    text-align: right;
}
.newSearch{float: left; margin: 2px;}

.bold{
    font-weight: bold;
}

.clear{height:5px;clear:both}
.divdiscap{
    float:left; width: 39%;
}
.divobs{
    float:right; width: 60%; font-size: 0.9em
}

.link1{margin:0px 10px;}

.fullwidth{
    width: 900px;
}
.closeBtn{
    text-align: center; margin-top: 5px;
}
.closeBtn a{
    width: 130px; line-height: 1.5em;
}
.closeBtn a div{
    margin: 6px; padding-left: 20px; height: 16px;
}
.closeBtn a div strong{
    line-height: 1.3em;
}

.ui-widget-content
.seleccionado{
    background: #ffd358 repeat-x bottom;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}

.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}
.icon_owner_image {background-image: url('../images/iconbar.png'); }

.icon_anclar_right{
    background-repeat: no-repeat;
    background-position: right 0px;
}
.icon_top_right{
    background-repeat: no-repeat;
    background-position: right -16px;
}
.icon_bootom_right{
    background-repeat: no-repeat;
    background-position: right -32px;
}
.icon_half_right{
    background-repeat: no-repeat;
    background-position: right -48px;
}
.icon_full_right{
    background-repeat: no-repeat;
    background-position: right -64px;
}
.icon_plus_zoom{
    background-repeat: no-repeat;
    background-position: right -80px;
}
.icon_minus_zoom{
    background-repeat: no-repeat;
    background-position: left -96px;
}
.icon_pdf{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: center -255px;
}
.icon_save{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -240px;
}

.icon_isok{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -288px;
}
.icon_stop{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -320px;
}

.icon_off{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -352px;
}
.icon_exit{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -368px;
}
.icon_search{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -112px;
}
.icon_reload{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -128px;
}
.icon_add{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -144px;
}
.icon_open{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -400px;
}

.icon_sec_close{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -416px;
}

.icon_obs{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -448px;
}
.icon_down{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -464px;
}
.icon_finish{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -480px;
}
.icon_info{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -496px;
}
.icon_close{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -512px;
}
.titulo_btn_close{
    background-image: url(../images/iconbar.png)  !important;
    background-repeat: no-repeat;
    background-position: left -512px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: right;
    margin-top: -1px;
    margin-right: -5px;
}


.dg1ca{width:25px;}
.dg1cb{width:49px;}
.dg1cc{width:97px;}
.dg1cd{width:97px;}
.dg1ce{width:80px;}
.dg1cf{width:105px;}
.dg1cg{width:70px;}
.dg1ch{width:35px;}
.dg1ci{width:35px;}
.dg1cj{width:90px;}
.dg1cj .txt{font-size:0.95em;}
.dg1ck{width:95px;}
.dg1cl{width:80px;}
.dg1cm{width:80px;}
.dg1cn{width:50px;}
.dg1co{width:100px;}
.dg1cp{width:180px;}
.dg1cq{width:160px;}
.dg1cr{width:360px;}
.dg1cs{width:150px;}
.dg2c1{width:49px;}
.dg2c2{width:360px;}
.dg2c3{width:105px; text-align: center}
.dg2c4{width:115px; text-align: center}
.dg3c1{width:230px;}
.dg3c2{width:190px;}
.dg3c3{width:200px;}
.dg4c1{width:60px;}
.dg4c2{width:300px;}
.dg4c3{width:120px;}
.dg4c4{width:260px;}




.fchcaduca{background-color: #FFD4CD; border-color: #FF6347; color: red; font-weight: bold;}
.ui-widget .divobs textarea{font-size: 0.8em; width:235px;}


#menu {position:absolute; left:1px; display:none;background:#D8E0FD; border:1px solid #3B4A7B; padding: 30px 0}


/*dock styling...*/
/*...set the cursor...*/
#menu div.jqDock {cursor:pointer;}
/*label styling...*/
div.jqDockLabel {font-weight:bold; white-space:normal; color:#000; cursor:pointer; text-align: right}
div.jqDockLabelText{position: absolute; left:-20px; top:-20px; z-index: 9999}

#divDetalleConfig{width:1100px;margin: 0px auto;}
#divConfiguracionTramite{width:750px; margin: 0px auto;}
#divFotos{background-color: white}
#searchDiv{width:900px;float:left}
#searchDiv2{width:860px;margin:0 auto}
.searchDiv{margin: 2px auto; width:1200px}
#divMasDatos{padding: 10px 0}
#dvResAni, #dvDatAni, #dvPadAni{margin-left:55px; min-width: 1120px}
#dvMainMov{margin-left:55px; background-color: #D8E0FD; border: 1px solid #FFFFFF; padding: 0.5em 1em; width: 1020px; min-width: 1010px;}
#dvResRec{margin-left:5px; min-width: 1120px}
#pnlResAni{padding: 0px; border-width: 0px;}
.pnlRecibo{width:964px; margin:0px auto;}
#feRemitoNotif input{width: 75px}
.labelresult{color: #3B4A7B; font-weight: bolder;}
.labelR1{color:#3B4A7B; font-weight: bolder; width:170px; float:left; padding:1px; margin:7px; background:#FFFFF2; border:1px solid #FBCB09}
.labelR1 .divClr1{background-color: red; height: 8px; width: 11px; float: left; margin: 3px 5px}
.labelR1 .divlab1{float: left; width: 75px}
.labelR1 .divClr2{background-color: blue; height: 8px; width: 11px; float: left; margin: 3px 5px}

.mainField{background: #FFEED2; border:1px solid #EA5932; padding: 1px 5px;}
.mainField .label{margin-left:25px;}
.mainField .txt{border-color: #EA5932; background: #FFEED2; font-weight: bold;}
.highlight input{border-color: #EA5932; background: #FFEED2; font-weight: bold;}
.mainField .nuDni{width:70px;}
.mainField .digVerif{width:15px;}
.mainField .nombres{width:320px;}
.mainField .edad{width:20px;}
.mainField .genero{width:80px;}

.dirField{margin-top:2px; padding: 1px 5px}
.dirField .coCon{width:20px;}
.dirField .ubigeoDe{width:380px;}
.dirField .coPostal{width:80px;}
.dirField .dePref{width:40px;}
.dirField .deDir{width:360px;}
.dirField .nuDir{width:75px;}
.dirField .deUrb{width:360px;}
.dirField .coNivEdu{width:150px;}
.dirField .deEstatura{width:25px;}
.dirField .genero{width:80px;}
.dirField .deMultaE{width:250px;}
.dirField .coDocAdj{width:120px;}

legend{padding: 0 5px; color: #004370;font-size:12px;font-weight: bold;}

.mainLeyend{background: #FFEED2; color:#004370; border:1px solid #EA5932;}
.table1{border-collapse: collapse;}
.table2{border-collapse: collapse; margin-bottom: 10px}
.bloque1{margin: 0pt 0pt 5px;}
.bloque1 .divImg{margin-left: 1px; height: 16px; width: 36px; float: left;}
.margin10{margin: 0 10px;}
.foto{position:relative; cursor: pointer}
.divFoto{position: absolute; text-align: center; min-height: 110px}
.divFotoF{position: absolute; text-align: center; min-height: 170px}
.tdfotos{border: 1px solid #fff; padding: 2px;}
.labelFoto{margin-top: 3px; position: absolute;bottom: 2px; width: 100%}
.bloque11 .divImg{margin-left: 45px; height: 16px; width: 36px; float: left;}

.ui-widget-content .tlbP{color: blue;}
.ui-widget-content .tlbE{color: red;}
.ui-widget-content .tlbM{color: #a52a2a;}
.ui-datatable .ui-datatable-data td{
    padding: 2px;
    font-size:11px;
}
.ui-datatable th, .ui-datatable tfoot td{
    font-family: Arial Narrow;
    padding: 4px 2px
}
.ui-datatable .ui-widget .ui-datatable-scrollable{
    width: 100%
}

.ui-panel{
padding: 0.2em;  background-color:#FFFFFF; border:1px solid #DDDDDD;
}


.ui-panel .ui-panel-titlebar {
    padding: 0.3em 1em;
}
.ui-panel .ui-panel-body {
    padding: 0.5em;
}



.tablita, .tlbautoc {
background:#FFFAFF;
border:1px solid #FFF;
border-collapse:collapse;
color:#616161;
font-family:Arial,sans-serif;
font-size:11px;
margin-bottom:3px;
}

.tablita td, .tablita th {
border:1px solid #fff;
padding:2px;
}

.tlbautoc td{
	border:0px;
	padding:2px;
}

.tlbautoc thead th, tfoot th td,
.tablita thead th, tfoot th td{
background:#ececec none repeat scroll 0 0;
border:1px solid #DDD;
color:#888;
font-family:verdana,arial,helvetica,sans-serif;
font-size:11px;
font-weight:bold;
padding:2px;
text-align:center;
}

.tlbautoc.odd,
.tablita.odd {
background:#F9F9F9 none repeat scroll 0 0;
}

.tlbautoc tbody tr.over,
.tablita tbody tr.over{
background: #fff7e0 repeat-x bottom;
color:#000000;
}

.tlbautoc tbody tr:hover th, tbody tr.odd:hover th,
.tablita tbody tr:hover th, tbody tr.odd:hover th {
background: #ECECEC repeat-x bottom;
}

.tlbautoc tr.seleccionado:hover td,
.tlbautoc tr.seleccionado td,
.tablita tr.seleccionado:hover td,
.tablita tr.seleccionado td
{
background: #ffd358 repeat-x bottom;
}
.tablita .tit1{color: white; background-color: #3B4A7B;}

.bx_sb {
	background-color:#F6F6F6;
	padding:1px;
}
.hidden{display: none;}
.tablita tr:hover{border: 1px solid #fbcb09; background: #fdf5ce; font-weight: bold; color: #c77405; }

.regresa{
    margin:6px; float: right;
}
.regresa button{width:90px;}


.bloquea
{
	background-color: #6e6e6e;
	position: absolute;
	top: 0pt;
	left: 0pt;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=50);
	float:left;
	-moz-opacity:.50;
	opacity:.50
}

.textbox{
   text-align:left;
}

.txtMsg{
    background-color:#FEEFB3; border-style:none; color:#FF0000; font-style:oblique; font-weight:bold;
}
.txtMsg2{
    background-color:#004370; border-style:none; color:#ffffff;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:normal;
}
.cuadrow{
	position:absolute;
	padding:0px;
}
.cuadrow .titulo
{
    background-color: #C3D9FF;
	/*#cacbcb; plomito*/
	/*#a8a9a9; plomo casi oscurito*/
	/*#084D86 azul marino marino*/
	/*#676868; plomo oscuro casi negro*/
	/*#efefef; plomito*/
    border-bottom:1px solid #fff;
	/*	margin-bottom:10px;*/
	margin:1px;
	text-align:center;
	color: #000;
	cursor:move;
	line-height: 1.5em;
}

/***ADD TAB****/
div.tabArea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 0;
	border-bottom: 1px solid #6D9ED8;
}

a.tab {
	background-color: #89BCFB; /*#B5DFED;  #f0f0f0; color de fondo*/
	border: 1px solid #6D9ED8;
	border-bottom-width: 0px;
	padding: 2px 1em 2px 1em;
	text-decoration: none;
}

a.tab, a.tab:visited {
  color: #083366;/*#808080;*/
}

a.tab:hover {
  background-color:#FFFFFF; /*#083366; #d0d0d0;*/
  color:#6D9ED8; /*#B5DFED; #606060;*/
  text-decoration: none;
}
a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
  background-color:#FFFFFF;  /*#c0c0c0; #70C1DC;*/
  color: #000000;
}

/***END TAB****/
.capturaSumary{
    background-color: ##FFEED2;
}
.cuerpox {
	font-size: 14px;
	color: #004080;
    font-weight:bolder;
    border: 1px solid #FBCB09;
    background: #FDF5CE;
    padding: 2px;
}
.aplicaRequisit{
    padding: 5px; height: 26px; text-align: center;
}
.req_oblig{
    background-color: #FFEAD0;
}
.req_default{
    background-color: #FFF;
}
.req_oblig_exclu{
    background-color: #FFF8EF;
}
.req_oblig_dep{
    background-color: #EEE;
}
.center{
    text-align: center;
}

#errorDetail{
    margin: 0px auto; width: 850px; padding: 5px;
}
#errorDetail h1{color:red; text-align:left; margin-left:25px}
#errorDetail h2{text-align:left; margin-left:25px}
#errorDetail h3{text-align:left; margin-left:25px}


