
<div class="span4">
<div class="alert alert-success"> <strong><h1>BIENVENIDOS</h1>
</strong> Egestas odio mattis nunc sociis aliquam enim ridiculus magna parturient tristique elementum, elit velit, pulvinar tincidunt arcu etiam purus mauris odio odio rhoncus aliquam risus augue, porttitor! Sit dignissim montes, pid enim dis integer in sed, tempor enim placerat. In, ac cum? Massa adipiscing magna nunc pellentesque! Vut nec sed magna quis enim amet vut mattis velit sed velit tempor, non augue placerat, dignissim vel magna habitasse velit amet nisi? Purus turpis! Nunc? Augue purus porttitor et? Et rhoncus pid enim amet magnis tortor! Non rhoncus vel in dictumst enim tempor! Porta porta. Eu urna tincidunt? Et vel, ultrices odio, proin phasellus elementum et ridiculus. Et, placerat proin aliquam porttitor, scelerisque ac nisi in cum, amet urna dapibus a urna.
</div>
</div>
